language: go
go:
  - 1.11.4

install: true

services:
  - docker

env:
  - GO111MODULE=on

before_script:
  - go get gotest.tools/gotestsum

script:
  - go mod verify
  - go mod tidy
  - scripts/checks.sh
  - go vet ./...
  - gotestsum --format short-verbose ./...

