{{ $lower := .Name | ToLower }}{{ $title := .Name | Title }}package {{ $lower }}

import (
	"context"
	"testing"
)

func Test{{ $title }}(t *testing.T) {
	ctx := context.Background()

	container, err := setup{{ $title }}(ctx)
	if err != nil {
		t.Fatal(err)
	}

	// Clean up the container after the test is complete
	defer container.Terminate(ctx)

	// perform assertions
}
