{{ $lower := ToLower }}{{ $title := Title }}# {{ $title }}

{{ codeinclude "<!--codeinclude-->" }}
[Creating a {{ $title }} container](../../{{ ParentDir }}/{{ $lower }}/{{ $lower }}.go)
{{ codeinclude "<!--/codeinclude-->" }}

{{ codeinclude "<!--codeinclude-->" }}
[Test for a {{ $title }} container](../../{{ ParentDir }}/{{ $lower }}/{{ $lower }}_test.go)
{{ codeinclude "<!--/codeinclude-->" }}
