{{ $entrypoint := Entrypoint }}{{ $image := Image }}{{ $lower := ToLower }}{{ $title := Title }}package {{ $lower }}_test

import (
	"context"
	"fmt"

	"github.com/testcontainers/testcontainers-go"
	"github.com/testcontainers/testcontainers-go/{{ ParentDir }}/{{ $lower }}"
)

func Example{{ $entrypoint }}() {
	// run{{ $title }}Container {
	ctx := context.Background()

	{{ $lower }}Container, err := {{ $lower }}.{{ $entrypoint }}(ctx, testcontainers.WithImage("{{ $image }}"))
	if err != nil {
		panic(err)
	}

	// Clean up the container
	defer func() {
		if err := {{ $lower }}Container.Terminate(ctx); err != nil {
			panic(err)
		}
	}()
	// }

	state, err := {{ $lower }}Container.State(ctx)
	if err != nil {
		panic(err)
	}

	fmt.Println(state.Running)

	// Output:
	// true
}
