{{ $lower := ToLower }}{{ $title := Title }}{{ $lowerTitle := ToLowerTitle }}package {{ $lower }}

import (
	"context"

	"github.com/testcontainers/testcontainers-go"
)

// {{ $lowerTitle }}Container represents the {{ $title }} container type used in the module
type {{ $lowerTitle }}Container struct {
	testcontainers.Container
}

// setup{{ $title }} creates an instance of the {{ $title }} container type
func setup{{ $title }}(ctx context.Context) (*{{ $lowerTitle }}Container, error) {
	req := testcontainers.ContainerRequest{
		Image: "{{ .Image }}",
	}
	container, err := testcontainers.GenericContainer(ctx, testcontainers.GenericContainerRequest{
		ContainerRequest: req,
		Started:          true,
	})
	if err != nil {
		return nil, err
	}

	return &{{ $lowerTitle }}Container{Container: container}, nil
}
