{{ $entrypoint := Entrypoint }}{{ $image := Image }}{{ $lower := ToLower }}{{ $title := Title }}package {{ $lower }}_test

import (
	"context"
	"testing"

	"github.com/stretchr/testify/require"

	"github.com/testcontainers/testcontainers-go/{{ ParentDir }}/{{ $lower }}"
)

func Test{{ $title }}(t *testing.T) {
	ctx := context.Background()

	ctr, err := {{ $lower }}.{{ $entrypoint }}(ctx, "{{ $image }}")
	testcontainers.CleanupContainer(t, ctr)
	require.NoError(t, err)

	// perform assertions
}
