{{ $entrypoint := Entrypoint }}{{ $containerName := ContainerName }}{{ $lower := ToLower }}{{ $title := Title }}package {{ $lower }}

import (
	"context"
	"fmt"

	"github.com/testcontainers/testcontainers-go"
)

// Container represents the {{ $title }} container type used in the module
type Container struct {
	testcontainers.Container
}

// {{ $entrypoint }} creates an instance of the {{ $title }} container type
func {{ $entrypoint }}(ctx context.Context, img string, opts ...testcontainers.ContainerCustomizer) (*Container, error) {
	ctr, err := testcontainers.Run(ctx, img, opts...)
	var c *Container
	if container != nil {
		c = &Container{Container: ctr}
	}

	if err != nil {
		return c, fmt.Errorf("generic container: %w", err)
	}

	return c, nil
}
