{{ $entrypoint := Entrypoint }}{{ $image := Image }}{{ $lower := ToLower }}{{ $title := Title }}package {{ $lower }}_test

import (
	"context"
	"testing"

	"github.com/testcontainers/testcontainers-go/{{ ParentDir }}/{{ $lower }}"
)

func Test{{ $title }}(t *testing.T) {
	ctx := context.Background()

	container, err := {{ $lower }}.{{ $entrypoint }}(ctx, "{{ $image }}")
	if err != nil {
		t.Fatal(err)
	}

	// Clean up the container after the test is complete
	t.Cleanup(func() {
		if err := container.Terminate(ctx); err != nil {
			t.Fatalf("failed to terminate container: %s", err)
		}
	})

	// perform assertions
}
