package {{ .Name }}_test

import (
	"context"
	"testing"

	"github.com/testcontainers/testcontainers-go/{{ .ParentDir }}/{{ .Name }}"
)

func Test{{ .Title }}(t *testing.T) {
	ctx := context.Background()

	container, err := {{ .Name }}.RunContainer(ctx)
	if err != nil {
		t.Fatal(err)
	}

	// Clean up the container after the test is complete
	t.Cleanup(func() {
		if err := container.Terminate(ctx); err != nil {
			t.Fatalf("failed to terminate container: %s", err)
		}
	})

	// perform assertions
}
