name: Run tests for a Go project
run-name: "${{ inputs.project-directory }} ${{ inputs.go-version }} ${{ inputs.platform }}"

on:
  workflow_call:
    inputs:
      go-version:
        required: true
        type: string
        description: "The version of Go to use for the test."
      platform:
        required: true
        type: string
        description: "The platform to run the test on."
      fail-fast:
        required: false
        type: boolean
        default: true
        description: "Fail the workflow if any of the jobs fail."
      project-directory:
        required: true
        type: string
        default: "."
        description: "The directory where the Go project is located."
      rootless-docker:
        required: false
        type: boolean
        default: false
        description: "Run the test with rootless docker."
      run-tests:
        required: false
        type: boolean
        default: true
        description: "Run the tests under conditions controlled by the caller workflow."
      ryuk-disabled:
        required: false
        type: boolean
        default: false
        description: "Disable the ryuk container for the test."

permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  # pull-requests: read

jobs:
  test-go-project:
    name: "${{ inputs.project-directory }}/${{ inputs.platform }}/${{ inputs.go-version }}"
    runs-on: ${{ inputs.platform }}
    continue-on-error: ${{ !inputs.fail-fast }}
    env:
      TESTCONTAINERS_RYUK_DISABLED: "${{ inputs.ryuk-disabled }}"
      RYUK_CONNECTION_TIMEOUT: "${{ inputs.project-directory == 'modules/compose' && '5m' || '60s' }}"
      RYUK_RECONNECTION_TIMEOUT: "${{ inputs.project-directory == 'modules/compose' && '30s' || '10s' }}"
    steps:
      - name: Setup rootless Docker
        if: ${{ inputs.rootless-docker }}
        uses: docker/setup-docker-action@01efb57f882e3b1a22e7cf3501dbe51287b0ecb4 # v4
        with:
          rootless: true

      - name: Check out code into the Go module directory
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: Set up Go
        uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5
        with:
            go-version: '${{ inputs.go-version }}'
            cache-dependency-path: '${{ inputs.project-directory }}/go.sum'
        id: go

      - name: golangci-lint
        if: ${{ inputs.platform == 'ubuntu-latest' }}
        uses: golangci/golangci-lint-action@971e284b6050e8a5849b72094c50ab08da042db8 # v6.1.1
        with:
          # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
          version: v1.61.0
          # Optional: working directory, useful for monorepos
          working-directory: ${{ inputs.project-directory }}
          # Optional: golangci-lint command line arguments.
          args: --verbose
          # Optional: if set to true then the all caching functionality will be complete disabled,
          #           takes precedence over all other caching options.
          skip-cache: true

      - name: generate
        if: ${{ inputs.platform == 'ubuntu-latest' }}
        working-directory: ./${{ inputs.project-directory }}
        shell: bash
        run: |
          make generate
          git --no-pager diff && [[ 0 -eq $(git status --porcelain | wc -l) ]]

      - name: modVerify
        working-directory: ./${{ inputs.project-directory }}
        run: go mod verify

      - name: modTidy
        if: ${{ inputs.platform == 'ubuntu-latest' }}
        working-directory: ./${{ inputs.project-directory }}
        shell: bash
        run: |
          make tidy
          git --no-pager diff && [[ 0 -eq $(git status --porcelain | wc -l) ]]

      - name: ensure compilation
        working-directory: ./${{ inputs.project-directory }}
        run: go build

      - name: Install dependencies
        shell: bash
        run: |
          SCRIPT_PATH="./.github/scripts/${{ inputs.project-directory }}/install-dependencies.sh"
          if [ -f "$SCRIPT_PATH" ]; then
            $SCRIPT_PATH
          else
            echo "No dependencies script found at $SCRIPT_PATH - skipping installation"
          fi

      - name: go test
        # only run tests on linux, there are a number of things that won't allow the tests to run on anything else
        # many (maybe, all?) images used can only be build on Linux, they don't have Windows in their manifest, and
        # we can't put Windows Server in "Linux Mode" in GitHub actions
        # another, host mode is only available on Linux, and we have tests around that, do we skip them?
        if: ${{ inputs.run-tests }}
        working-directory: ./${{ inputs.project-directory }}
        timeout-minutes: 30
        run: make test-unit

      - name: Set sonar artifact name
        # For the core library, where the project directory is '.', we'll use "core" as artifact name.
        # For the modules, we'll remove the slashes, keeping the name of the module
        if: ${{ github.ref_name == 'main' && github.repository_owner == 'testcontainers' && inputs.platform == 'ubuntu-latest' && inputs.run-tests && !inputs.rootless-docker && !inputs.ryuk-disabled }}
        run: |
          echo "ARTIFACT_NAME=$(basename ${{ inputs.project-directory == '.' && 'core' || inputs.project-directory }})-${{ inputs.go-version }}-${{ inputs.platform }}" >> $GITHUB_ENV

      - name: Upload SonarCloud files
        if: ${{ github.ref_name == 'main' && github.repository_owner == 'testcontainers' && inputs.platform == 'ubuntu-latest' && inputs.run-tests && !inputs.rootless-docker && !inputs.ryuk-disabled }}
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: sonarcloud-${{ env.ARTIFACT_NAME }}
          path: |
            ./sonar-project.properties
            ${{ inputs.project-directory }}/TEST-unit.xml
            ${{ inputs.project-directory }}/coverage.out

      - name: Run checker
        run: |
            ./scripts/check_environment.sh

      - name: Test Summary
        uses: test-summary/action@31493c76ec9e7aa675f1585d3ed6f1da69269a86 # v2.4
        with:
            paths: "**/${{ inputs.project-directory }}/TEST-unit*.xml"
        if: always()
